@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #0c214a;
	padding: 0 2rem;
	font-family: Poppins, sans-serif;
}

.custom-text-green {
	color: #52b68b;
}

.custom-bg-green {
	background-color: #52b68b;
}

.custom-text-darkblue {
	color: #0c214a;
}

.custom-bg-darkblue {
	background-color: #0c214a;
}