@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0c214a;
  font-family: Poppins, sans-serif;
}

.App {
  @apply flex flex-col gap-2 p-2;
}

.custom-text-green {
  color: #52b68b;
}

.custom-bg-green {
  background-color: #52b68b;
}

.custom-border-green {
  border-color: #52b68b;
}

.custom-text-darkblue {
  color: #0c214a;
}

.custom-bg-darkblue {
  background-color: #0c214a;
}

.custom-text-lightblue {
  color: #d2e0ed;
}

.custom-bg-lightblue {
  background-color: #d2e0ed;
}

.custom-text-yellow {
  color: #fedba6;
}

.custom-bg-yellow {
  background-color: #fedba6;
}

.custom-border-yellow {
  border-color: #fedba6;
}

input::placeholder,
textarea::placeholder {
  @apply font-normal custom-text-darkblue opacity-50;
}

input,
textarea {
  @apply font-normal;
}

.scale-up-hor-left {
  -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  border-radius: 0 0 0.5rem 0.5rem;
}

@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}

.scale-up-hor-right {
  -webkit-animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-right 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
}
