@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0c214a;
  font-family: Poppins, sans-serif;
}

.App {
  @apply flex flex-col gap-2 p-2;
}

.custom-text-green {
  color: #52b68b;
}

.custom-bg-green {
  background-color: #52b68b;
}

.custom-border-green {
  border-color: #52b68b;
}

.custom-text-darkblue {
  color: #0c214a;
}

.custom-bg-darkblue {
  background-color: #0c214a;
}

.custom-text-lightblue {
  color: #d2e0ed;
}

.custom-bg-lightblue {
  background-color: #d2e0ed;
}

.custom-text-yellow {
  color: #fedba6;
}

.custom-bg-yellow {
  background-color: #fedba6;
}

.custom-border-yellow {
  border-color: #fedba6;
}

input::placeholder,
textarea::placeholder {
  @apply font-normal custom-text-darkblue opacity-50;
}

input,
textarea {
  @apply font-normal;
}
